<div id="myModaledit" class="modaledit">

    <div class="modal-content-edit">
        <span class="closeedit" (click)="ocultarFormulario()">&times;</span>
        <h1 class="modal-title">{{translation('TruckRegisterEditModalTitle')}}</h1>
        <form class="form-edit" [ngClass]="{'disabled-form':waitForAnswer}" [formGroup]="form" (ngSubmit)="submit()">

            <div class="group-edit">
                <input type="text" formControlName="name">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{translation("TruckRegisterName")}}</label>
                <app-errores-frontend *ngIf="campoValido('name')"
                    mensaje="{{translation('fieldRequired')}}"></app-errores-frontend>
            </div>

            <div class="group-edit">
                <input type="email" formControlName="email">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{translation("TruckRegisterEmail")}}</label>
                <app-errores-frontend *ngIf="campoValido('email')"
                    mensaje="{{translation('formEmailValidationField')}}"></app-errores-frontend>
            </div>

            <div class="group-edit">
                <input type="text" formControlName="company">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{translation("TruckRegisterCompany")}}</label>
                <app-errores-frontend *ngIf="campoValido('company')"
                    mensaje="{{translation('fieldRequired')}}"></app-errores-frontend>
            </div>

            <div class="group-edit">
                <input type="text" formControlName="tract">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{translation("TruckRegisterTract")}}</label>
                <app-errores-frontend *ngIf="campoValido('tract')"
                    mensaje="{{translation('fieldRequired')}}"></app-errores-frontend>
            </div>

            <div class="group-edit">
                <input type="text" formControlName="brand">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{translation("TruckRegisterBrand")}}</label>
                <app-errores-frontend *ngIf="campoValido('brand')"
                    mensaje="{{translation('fieldRequired')}}"></app-errores-frontend>
            </div>
            <div class="group-edit">
                <input type="number" formControlName="year">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{translation("TruckRegisterYear")}}</label>
                <app-errores-frontend *ngIf="campoValido('year')"
                    mensaje="{{translation('fieldRequired')}}"></app-errores-frontend>
            </div>
            <div class="group-edit">
                <input type="text" formControlName="vin">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{translation("TruckRegisterVin")}}</label>
                <app-errores-frontend *ngIf="campoValido('vin')"
                    mensaje="{{translation('fieldRequired')}}"></app-errores-frontend>
            </div>
            <div class="group-edit">
                <input type="text" formControlName="model">
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>{{translation("TruckRegisterModel")}}</label>
                <app-errores-frontend *ngIf="campoValido('model')"
                    mensaje="{{translation('fieldRequired')}}"></app-errores-frontend>
            </div>



            <div class="save-edit">
                <button type="submit" class="btn10" [ngClass]="{'disabled-button':waitForAnswer}">
                    <span>{{translation("TruckRegisterSave")}}</span>
                    <div class="transition"></div>
                </button>
            </div>
        </form>

    </div>
</div>