<app-exito mensaje="Usuario Activado con Exito" *ngIf="existeMsgExito" ></app-exito>
<app-exito mensaje="Usuario eliminado con Exito" *ngIf="existeMsgExito" ></app-exito>


<div class="spinner-container" *ngIf="usuarios.length == 0" >
    <app-spinner></app-spinner>
</div>


<app-buscador (busqueda)="busqueda = $event" (ocultar)="ocultarPaginacion = $event" ></app-buscador>
<section class="recent">
    <div class="activity-grid">
        <div class="activity-card">
            <h3>Lista de Usuarios Inactivos</h3>
            <!----------------------tabla-------------------->
            <div class="table-responsive">
                <table>
                    <thead >
                        <tr>
                            <th>Nombre</th>
                            <th>RFC</th>
                            <th>Direccion</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Activar/Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let usuario of usuarios|busqueda:page:busqueda">

                            <h1 *ngIf="usuario.error">{{usuario.msg}}</h1>

                            <td data-title="Nombre">{{usuario.nombre |uppercase }}</td>
                            <td data-title="RFC">{{usuario.rfc |uppercase }}</td>
                            <td data-title="Direccion">{{usuario.direccion |uppercase  }}</td>
                            <td data-title="Telefono">{{usuario.telefono}}</td>
                            <td data-title="Email">{{usuario.email}}</td>
                            <td data-title="Acciones" *ngIf="!usuario.error">
                                <div class="btn-group">
                                    <div 
                                        class="boton-modal">
                                        <label for="btn-modal-update" (click)="referenciaUsuarioActual(usuario)" ><i class="fa-solid fa-user-check fa-lg"></i></label>
                                        <label for="btn-modal-delete" (click)="referenciaUsuarioActual(usuario)"  ><i class="fa-solid fa-user-xmark fa-lg"></i></label>
                                    </div>
                                </div>
    
                            </td>
                        </tr>
   
                    </tbody>
    
                </table>
            </div>
            
            <!---------------------------paginado-------------------------------->
            <app-paginacion [longitud]="usuarios.length" (paginaActual)="page = $event" *ngIf="usuarios.length > 10 && ocultarPaginacion "> </app-paginacion>
        </div>
       
    </div>
    
</section>

<app-modal
    msg="¿Esta seguro que quiere activar al usuario {{usuarioActual.email}} ?"
    titulo="Activar"
    [funcion]="activarUsuario.bind(this,usuarioActual.uid)"
    modal="btn-modal-update"
></app-modal>

<app-modal
    msg="¿Esta seguro que quiere eliminar permanentemente al usuario {{usuarioActual.email}} ?"
    titulo="Eliminar"
    [funcion]="eliminarUsuarioPermanentemente.bind(this,usuarioActual.uid)"
    modal="btn-modal-delete"
></app-modal>

