
<app-exito mensaje="Usuario Eliminado con Exito" *ngIf="existeMsgExito" ></app-exito>
<app-exito mensaje="Usuario Actualizado con Exito" *ngIf="existeMsgActualizarExito" ></app-exito>

<div class="table-responsive">
    <table>
        <thead >
            <tr>
                <th>Nombre</th>
                <th>Rol</th>
                <th>Telefono</th>
                <th>Email</th>
                <th *ngIf="accesoDenegado" >Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let personal of personas">
                <td data-title="Nombre">{{personal.nombre}}</td>
                <td data-title="RFC">{{personal.rol.rol}}</td>
                <td data-title="Telefono">{{personal.telefono}}</td>
                <td data-title="Email">{{personal.email}}</td>
                <td data-title="Acciones" *ngIf="accesoDenegado" >
                    <div class="btn-group">
                        <button class="btn" (click)="actualizarPersonal(personal.uid,personal)" ><i class="fa-solid fa-square-pen fa-xl"></i></button>
                        <button class="btn" (click)="eliminarPersonal(personal.uid)" ><i class="fa-solid fa-user-xmark fa-lg"></i></button>
                    </div>

                </td>
            </tr>

       

    

        </tbody>

    </table>
</div>

<app-actualizar-personal *ngIf="mostrarFormularioEmergente" 
[idPersonal]="idpersonalActualizar" 
[personal]="personalparaActualizar"
(ocultar)="mostrarFormularioEmergente = $event"
(personalActualizado)="actualizandoArregloPersonal($event)"
> </app-actualizar-personal>