<app-exito mensaje="Usuario Eliminado con Exito" *ngIf="existeMsgExito"></app-exito>
<app-exito mensaje="Usuario Actualizado con Exito" *ngIf="existeMsgActualizarExito"></app-exito>

<div class="spinner-container" *ngIf="personas.length == 0  && !noexistePersonal ">
    <app-spinner></app-spinner>
</div>

<!-- <div class="container" *ngIf="personas.length == 0 && noexistePersonal ">
    <app-no-encontrado mensaje="No se encontro personal disponible"></app-no-encontrado>
</div> -->

<ng-container *ngIf="personas.length > 0">
    <app-buscador (busqueda)="search($event)"></app-buscador>




    <h3>{{instantTranslation('clientList')}}</h3>

    <table class="resp">
        <thead>
            <tr>
                <th>{{instantTranslation('clientName')}}</th>
                <!-- <th>Rol</th> -->
                <th>{{instantTranslation('clientPhone')}}</th>
                <th>{{instantTranslation('clientEmail')}}</th>
                <th *ngIf="accesoDenegado">{{instantTranslation('clientActions')}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let personal of personas">

                <!-- <app-no-encontrado *ngIf="personal.error" [mensaje]="personal.msg"></app-no-encontrado> -->
                <td data-title="Nombre">{{personal.nombre |uppercase }}</td>
                <!-- <td data-title="Rol" *ngIf="!personal.error">{{personal.rol.rol |uppercase }}</td> -->
                <td data-title="Telefono">{{personal.telefono}}</td>
                <td data-title="Email">{{personal.email}}</td>
                <td data-title="Acciones" *ngIf="accesoDenegado">
                    <div class="btn-group">
                        <i (click)="actualizarPersonal(personal.uid,personal)"
                            class="fa-solid fa-square-pen fa-xl btn"></i>
                        <label class="btn" for="btn-modal-delete" (click)="referenciaPersonalActual(personal)"><i
                                class="fa-solid fa-user-xmark fa-lg"></i></label>

                        <i class="fa-solid fa-truck fa-lg truck-assignation"
                            (click)="asignarCamiones(personal.uid!)"></i>
                    </div>

                </td>
            </tr>

            <div class="pagination-container" *ngIf="personas.length !== 0">
                <i class="fa-solid fa-circle-left" (click)="prevPage()" *ngIf="page >1"></i>
                <div> {{page}} </div>
                <div> {{instantTranslation('visitorsComponentTableOf')}} </div>
                <div> {{pages}} </div>
                <i class="fa-solid fa-circle-right" (click)="nextPage()" *ngIf="page < pages"></i>
            </div>

        </tbody>
    </table>













    <app-modal *ngIf="personalActual"
        msg="¿{{instantTranslation('confirmClientDeleteMessage')}} {{personalActual.email}} ?"
        titulo="{{instantTranslation('deleteModalClientTitle')}}"
        [funcion]="eliminarPersonal.bind(this,personalActual.uid)" modal="btn-modal-delete"></app-modal>

    <app-actualizar-personal *ngIf="mostrarFormularioEmergente" [idPersonal]="idpersonalActualizar"
        [personal]="personalparaActualizar" (ocultar)="mostrarFormularioEmergente = $event"
        (personalActualizado)="actualizandoArregloPersonal($event)"> </app-actualizar-personal>

    <app-asignar-camiones *ngIf="mostrarAsignacionDeCamiones" [idCliente]="clienteId"
        (ocultar)="mostrarAsignacionDeCamiones = $event"></app-asignar-camiones>