<app-exito mensaje="Personal Activado con Exito" *ngIf="existeMsgExito" ></app-exito>
<app-exito mensaje="Personal eliminado con Exito" *ngIf="existeMsgExito" ></app-exito>

<div class="spinner-container" *ngIf="personas.length == 0" >
    <app-spinner></app-spinner>
</div>


<app-buscador (busqueda)="busqueda = $event" (ocultar)="ocultarPaginacion = $event" ></app-buscador>
<section class="recent">
    <div class="activity-grid">
        <div class="activity-card">
            <h3>Lista de Personal Inactivo</h3>
            <!----------------------tabla-------------------->
            <div class="table-responsive">
                <table>
                    <thead >
                        <tr>
                            <th>Nombre</th>
                            <th>Rol</th>
                            <th>Telefono</th>
                            <th>Email</th>
                            <th>Activar/Eliminar</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let personal of personas|busqueda:page:busqueda:true">

                            <h1 *ngIf="personal.error">{{personal.msg}}</h1>

                            <td data-title="Nombre">{{personal.nombre}}</td>
                            <td data-title="Rol" *ngIf="!personal.error" > {{personal.rol.rol}}</td>
                            <td data-title="Telefono">{{personal.telefono}}</td>
                            <td data-title="Email">{{personal.email}}</td>
                            <td data-title="Acciones" *ngIf="!personal.error">
                                <div class="btn-group">
                                    <div 
                                        class="boton-modal">
                                        <label for="btn-modal-update" (click)="referenciaUsuarioActual(personal)" ><i class="fa-solid fa-user-check fa-lg"></i></label>
                                        <label (click)="referenciaUsuarioActual(personal)"  for="btn-modal-delete"  ><i class="fa-solid fa-user-xmark fa-lg"></i></label>
                                    </div>
                                </div>
    
                            </td> 
                        </tr>
   
                    </tbody>
    
                </table>
            </div>
            
            <!---------------------------paginado-------------------------------->
            <app-paginacion [longitud]="personas.length" (paginaActual)="page = $event" *ngIf="personas.length > 10 && ocultarPaginacion "> </app-paginacion>
        </div>
       
    </div>
    
</section>


<app-modal titulo="Activar" msg="¿Esta seguro que quiere activar al personal {{personalActual.email}}?" [funcion]="activarUsuario.bind(this,personalActual.uid)" modal="btn-modal-update"  ></app-modal>

<app-modal titulo="Eliminar" msg="¿Esta seguro que quiere eliminar permanentemente al personal {{personalActual.email}}?" 
[funcion]="eliminarUsuarioPermanentemente.bind(this,personalActual.uid)" modal="btn-modal-delete"   ></app-modal>

