/*--------contenedor de la tabla-----------*/
.recent{
    margin-top: 1rem;
    margin-bottom: 3rem;
  }
  
  /*-----------sub-contenedor-grid-----------*/
  .activity-grid{
    display: grid;
    grid-template-columns: 85% 13%;
    grid-column-gap: 1.5rem;
  }
  /*-------------Tabla----------------*/
  .activity-card {
    background: #fff;
    border-radius: 7px;
  }
  .activity-card h3{
    color: var(--text-grey);
    margin: 1rem;
  }
  .activity-card table{
    width: 100%;
    border-collapse: collapse;
  }
  .activity-card thead{
    background: #efefef;
    text-align: left;
  }
  
  th, td{
    font-size: .9rem;
    padding: 1rem .5rem;
    color: #3E3798;
  }
  
  td{
    font-size: .8rem;
  }
  
  tbody tr:nth-child(even){
    background: #f9fafc;
  }
  /*---------------tabla responsive--------------------*/
  .table-responsive{
    overflow-x: auto;
  }
  
  @media only screen and (max-width: 1200px){
    .sidebar{
        width: 60px;  
        z-index: 150;  
    }
    
    .sidebar .sidebar-header h3 span,
    .sidebar li span:last-child{
        display: none; 
    }
    
    .sidebar .sidebar-header,
    .sidebar li{
        display: flex;
        justify-content: center; 
    }
    
    .main-content{
        margin-left: 60px;    
    }
  
    .main-content header{
        left: 60px;
        width: calc(100% - 600px);
    }
  }
  /*RESPONSIVE*/
  @media only screen and (max-width: 860px){
     
    .activity-grid{
        display: block;
    }
  }
  
  
  @media only screen and (max-width: 450px){
    main{
        padding-left: 1rem;
        padding-right: 1rem;
    }
  }
  /*----------botones editar eliminar-----------------*/
  .btn{
    background: none;
    border: none;
  }
  
  .fa-square-pen,
  .fa-user-xmark,
  .fa-user-check,
  .fa-user-slash,
  .fa-qrcode{
    color: #6C63FF;
  }
  .btn-group{
    text-align: center;
  }
  .btn-action{
    background: none;
    border: none;
  }
  


.spinner-container{
    position: absolute;
    top: 50%;
    left: 50%;
}