
<app-exito mensaje="Usuario Eliminado con Exito" *ngIf="existeMsgExito" ></app-exito>
<app-exito mensaje="Usuario Actualizado con Exito" *ngIf="existeMsgActualizarExito" ></app-exito>
<app-exito [mensaje]="msgQR" *ngIf="existeMsgQRExito" ></app-exito>




<div class="table-responsive">
    <table>
        <thead >
            <tr>
                <th>Nombre</th>
                <th>RFC</th>
                <th>Direccion</th>
                <th>Telefono</th>
                <th>Email</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let usuario of usuarios">
                <td data-title="Nombre">{{usuario.nombre}}</td>
                <td data-title="RFC">{{usuario.rfc}}</td>
                <td data-title="Direccion">{{usuario.direccion}}</td>
                <td data-title="Telefono">{{usuario.telefono}}</td>
                <td data-title="Email">{{usuario.email}}</td>
                <td data-title="Acciones">
                    <div class="btn-group">
                        <button class="btn"  (click)="actualizarUsuario(usuario.uid,usuario)" ><i class="fa-solid fa-square-pen fa-xl"></i></button>
                        <button class="btn" (click)="eliminarUsuario(usuario.uid)" ><i class="fa-solid fa-user-xmark fa-lg"></i></button>
                        <button class="btn" (click)="enviarQR(usuario.uid)" ><i class="fa-solid fa-qrcode"></i></button>
                    </div>

                </td>
            </tr>

       

    

        </tbody>

    </table>
</div>


<app-actualizar-usuario *ngIf="mostrarFormularioEmergente" 
[idUsuario]="idusuarioActualizar" 
[usuario]="usuarioparaActualizar"
(ocultar)="mostrarFormularioEmergente = $event"
(usuarioActualizado)="actualizandoArregloUsuario($event)"
> </app-actualizar-usuario>