<img class="wave" src="assets/img/wave2.png"> 
    <div class="header">
            
        <img src="assets/img/logo.svg" alt="" >
        <div class="header-right">
            <a class="text0">{{Saludo}}</a>
        </div>
    </div>

    <div class="contenedor-bienvenido">
        <span class="text1">Bienvenido</span>
        <span class="text2">QRUD</span>
    </div>

    <!----------------------------contenedores--------------------->
    <div class="body-card">
        <aside class="profile-card">

            <header>
            
                <!-- here’s the avatar -->
                <a>
                    <img src="assets/img/logo.svg" />
                </a>
                
                <!-- the username -->
                <h1>Escaner QR</h1>
                
                <!-- and role or location -->
                <div class="wrapper">
                    <button routerLink="/usuario/scanner" class="btn10">
                        <span>Escaner</span>
                        <div class="transition"></div>
                    </button>
                </div>
            
            </header>
        
            <!-- bit of a bio; who are you? -->
            <div class="profile-bio">
            
<!-- the username -->
                <h1>Registrate</h1>
                
                <!-- and role or location -->
                <div class="wrapper">
                    <button routerLink="/usuario/registro" class="btn10">
                        <span>Registrate</span>
                        <div class="transition"></div>
                    </button>
                </div>          
            </div>
        
        </aside>
        
    </div>
