<div class="container">
    <img src="assets/img/imagen-transportistas.png" alt="logo transportistas">

    <div class="flex">
        <div class="flex-child">
            <span>1.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem1')}}</p>
        </div>
        <div class="flex-child">
            <span>2.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem2')}}</p>
        </div>
        <div class="flex-child">
            <span>3.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem3')}}</p>
        </div>
        <div class="flex-child">
            <span>4.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem4')}}</p>
        </div>
        <div class="flex-child">
            <span>5.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem5')}}</p>
        </div>
        <div class="flex-child">
            <span>6.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem6')}}</p>
        </div>
        <div class="flex-child">
            <span>7.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem7')}}</p>
        </div>
        <div class="flex-child">
            <span>8.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem8')}}</p>
        </div>

        <div class="flex-child">
            <span>9.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem9')}}</p>
        </div>

        <div class="flex-child">
            <span>10.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem10')}}</p>
        </div>

        <div class="flex-child">
            <span>11.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem11')}}</p>
        </div>

        <div class="flex-child">
            <span>12.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem12')}}</p>
        </div>

        <div class="flex-child">
            <span>13.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem13')}}</p>
        </div>

        <div class="flex-child">
            <span>14.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem14')}}</p>
        </div>

        <div class="flex-child">
            <span>15.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem15')}}</p>
        </div>

        <div class="flex-child">
            <span>16.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem16')}}</p>
        </div>
        <div class="flex-child">
            <span>17.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem17')}}</p>
        </div>

        <div class="flex-child">
            <span>18.</span>
            <p class="m-0">{{instantTranslation('driverRegulationItem18')}}</p>
        </div>


        <h3>{{instantTranslation('driverRegulationAgreement')}} </h3>
    </div>



</div>