<div class="container">
    <img src="assets/img/imagen-transportistas.png" alt="logo transportistas">

    <div class="flex">
        <div class="flex-child">
            <span>1.</span>
            <p class="m-0">Utiliza tu chaleco de seguridad en todo momento dentro de la yarda</p>
        </div>
        <div class="flex-child">
            <span>2.</span>
            <p class="m-0">Respeta el límite de velocidad de 5 MPH</p>
        </div>
        <div class="flex-child">
            <span>3.</span>
            <p class="m-0">Porta tu credencial visible en todo momento</p>
        </div>
        <div class="flex-child">
            <span>4.</span>
            <p class="m-0">Respeta el sentido de circulación</p>
        </div>
        <div class="flex-child">
            <span>5.</span>
            <p class="m-0">Respeta la señalética de NO ESTACIONARSE</p>
        </div>
        <div class="flex-child">
            <span>6.</span>
            <p class="m-0">Haz alto total en los altos de disco</p>
        </div>
        <div class="flex-child">
            <span>7.</span>
            <p class="m-0">Cuando llegues a la entrada o salida, por favor apaga el motor y utiliza las líneas
                peatonales para dirigirte a ventanilla</p>
        </div>
        <div class="flex-child">
            <span>8.</span>
            <p class="m-0">Asegúrate de que los patines de tu caja o contenedor queden sobre las líneas de
                concreto</p>
        </div>

        <div class="flex-child">
            <span>9.</span>
            <p class="m-0">No obstruyas la entrada cuando se encuentre congestionado</p>
        </div>

        <div class="flex-child">
            <span>10.</span>
            <p class="m-0">Salir uno a la vez, espera a que la unidad que se encuentra enfrente de ti, se
                incorpore a la avenida.</p>
        </div>

        <div class="flex-child">
            <span>11.</span>
            <p class="m-0">Ingresa a baja velocidad, disminuye tu velocidad al llegar a la yarda.</p>
        </div>

        <div class="flex-child">
            <span>12.</span>
            <p class="m-0">No tires basura dentro de la yarda, deposita la en los contenedores.</p>
        </div>

        <div class="flex-child">
            <span>13.</span>
            <p class="m-0">No evadas topes o señalamientos de tránsito.</p>
        </div>

        <div class="flex-child">
            <span>14.</span>
            <p class="m-0">Esta prohibido realizar limpieza o mantenimiento de unidades dentro de la yarda.</p>
        </div>

        <div class="flex-child">
            <span>15.</span>
            <p class="m-0">Aplica técnica de reversa segura (toca el claxon 2 veces antes de dar reversa).</p>
        </div>

        <div class="flex-child">
            <span>16.</span>
            <p class="m-0">Prohibido fumar dentro de la Yarda (solo en área autorizada)</p>
        </div>
        <div class="flex-child">
            <span>17.</span>
            <p class="m-0">No se permite caminar dentro de la Yarda, solamente del tractor a su caja que
                engancha o desengancha</p>
        </div>

        <div class="flex-child">
            <span>18.</span>
            <p class="m-0">.No se puede permanecer estacionado dentro de la Yarda en espera de despacho</p>
        </div>


        <h3>En caso de incumplir cualquiera de los lineamientos descritos anteriormente, el personal puede
            ser acreedor a un VETO de nuestras instalaciones. </h3>
    </div>



</div>