<div class="container" *ngIf="camara">
  <zxing-scanner [formats]="allowedFormats" (scanSuccess)="escanearQR($event)"
    (camerasNotFound)="camaranoEncontrada($event)"> </zxing-scanner>

</div>


<div class="spinner-container" *ngIf="!camara">
  <app-spinner></app-spinner>
</div>

<h1 *ngIf="!camara">Para acceder a este componente, debe de tener una camara disponible </h1>


<div *ngIf="ocultarDatos">





</div>

<div class="visitor-container">
  <h4>Datos del Visitante</h4>
  <div class="grid">
    <div>
      <p>Nombre del visitante: </p> <span>{{usuarioQR?.name}}</span>
    </div>
    <div>
      <p>Fecha de la visita: </p> <span>{{usuarioQR?.visit_date}}</span>
    </div>
    <div>
      <p>Compañia: </p> <span>{{usuarioQR?.visit_company}}</span>
    </div>
    <div>
      <p>Nombre de contacto en la empresa: </p> <span>{{usuarioQR?.contact_name}}</span>
    </div>
    <div>
      <p>Departamento: </p> <span>{{usuarioQR?.department}}</span>
    </div>
    <div>
      <p>Tipo de Visitante: </p> <span>{{usuarioQR?.visitor_type}}</span>
    </div>
    <div>
      <p>Dispositivos del visitante: </p> <span>{{usuarioQR?.enter_device}}</span>
    </div>


    <button type="button" class="clear-qr-btn" (click)="limpiarQr()">
      Limpiar registro
    </button>

  </div>




</div>