<ng-container *ngIf="existeError">
  <div class="mensajes-container">
    <div class="contenido">
      <div class="validacion">
        <div class="content-message">
          <i class="fa-solid fa-x error"></i>
          <div class="message">
            <span class="text text-1">Error</span>
            <span class="text text-2" *ngIf="errorServidor.length > 0">{{errorServidor}}</span>
          </div>
        </div>
        <i class="fa-solid fa-x close"></i>
        <div class="progress"></div>
      </div>
    </div>

  </div>


</ng-container>

<div class="alert show  showAlert" *ngIf="existeMsgExito">
  <i class="fa-solid fa-thumbs-up"></i>
  <span class="msg">{{msgExito}}</span>
  <div class="close-btn">
    <i class="fa-solid fa-x close"></i>
  </div>
</div>

<ng-container *ngIf="this.router.url =='/escaner' ">
  <app-translate></app-translate>

</ng-container>




<div class="container" *ngIf="camara && showQREscaner">
  <zxing-scanner [formats]="allowedFormats" (scanSuccess)="escanearQR($event)"
    (camerasNotFound)="camaranoEncontrada($event)"> </zxing-scanner>

</div>


<div class="spinner-container" *ngIf="!camara">
  <app-spinner></app-spinner>
</div>

<h1 *ngIf="!camara">{{instantTranslation('qrScannerWarning')}}</h1>


<div *ngIf="ocultarDatos">

  <div class="visitor-container">
    <h4>{{instantTranslation('qrScannerVisitorData')}}</h4>
    <div>
      <div class="flex">
        <p>{{instantTranslation('qrScannerVisitorName')}}: </p> <span class="margin-left">{{usuarioQR?.name}}</span>
      </div>
      <div class="flex">
        <p>{{instantTranslation('qrScannerVisitorDate')}}: </p> <span class="margin-left">{{usuarioQR?.visit_date &&
          parseDate(usuarioQR?.visit_date!)}}</span>
      </div>
      <div class="flex">
        <p>{{instantTranslation('qrScannerVisitorCompany')}}: </p> <span
          class="margin-left">{{usuarioQR?.visit_company}}</span>
      </div>
      <div class="flex">
        <p>{{instantTranslation('qrScannerVisitorContactName')}}: </p> <span
          class="margin-left">{{usuarioQR?.contact_name}}</span>
      </div>
      <div class="flex">
        <p>{{instantTranslation('qrScannerVisitorDepartment')}}: </p> <span
          class="margin-left">{{usuarioQR?.department}}</span>
      </div>
      <div class="flex">
        <p>{{instantTranslation('qrScannerVisitorVisitType')}}: </p> <span
          class="margin-left">{{usuarioQR?.visitor_type}}</span>
      </div>
      <div class="flex">
        <p>{{instantTranslation('qrScannerVisitorDevices')}}: </p> <span
          class="margin-left">{{usuarioQR?.enter_device}}</span>
      </div>

      <div class="flex mb-2" *ngIf="usuarioQR?.ine_field">
        <p>{{instantTranslation('qrScannerVisitorId')}}: </p> <img class="img-files-responsive"
          src="{{usuarioQR?.ine_field}}" alt="ine">
      </div>


      <button type="button" class="clear-qr-btn" (click)="limpiarQr()">
        {{instantTranslation('qrScannerVisitorClearRegister')}}
      </button>

    </div>




  </div>



</div>
<div *ngIf="showDriver">

  <div class="visitor-container">
    <h4>{{instantTranslation('qrScannerDriverData')}}</h4>
    <div>
      <div class="flex">
        <p>{{instantTranslation('qrScannerDriverName')}}: </p> <span class="margin-left">{{usuarioQR?.name}}</span>
      </div>
      <div class="flex">
        <p>{{instantTranslation('qrScannerDriverCompany')}}: </p> <span
          class="margin-left">{{usuarioQR?.visit_company}}</span>
      </div>
      <div class="flex">
        <p>{{instantTranslation('qrScannerDriverPhone')}}: </p> <span class="margin-left">{{usuarioQR?.phone}}</span>
      </div>
      <div class="flex">
        <p>{{instantTranslation('qrScannerDriverOffice')}}: </p> <span
          class="margin-left">{{usuarioQR?.office_name}}</span>
      </div>
      <div class="flex">
        <p>{{instantTranslation('qrScannerDriverOfficePhone')}}: </p> <span
          class="margin-left">{{usuarioQR?.office_phone}}</span>
      </div>

      <div class="flex" *ngIf="usuarioQR?.driver_licence_field">
        <p>{{instantTranslation('qrScannerDriverLicense')}}: </p> <img class="img-files-responsive"
          src="{{usuarioQR?.driver_licence_field}}" alt="license">
      </div>

      <div class="flex mb-2" *ngIf="usuarioQR?.ine_field">
        <p>{{instantTranslation('qrScannerVisitorId')}}: </p> <img class="img-files-responsive"
          src="{{usuarioQR?.ine_field}}" alt="ine">
      </div>



      <button type="button" class="clear-qr-btn" (click)="limpiarQr()">
        {{instantTranslation('qrScannerVisitorClearRegister')}}
      </button>

    </div>




  </div>



</div>