<app-exito mensaje="Usuario Actualizado con Exito" *ngIf="existeMsgActualizarExito" ></app-exito>

<div class="table-responsive">
    <table>
        <thead >
            <tr>
                <th>Rol</th>
                <th>Descripcion</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let rol of roles">
                <td data-title="Nombre">{{rol.rol}}</td>
                <td data-title="RFC">{{rol.description}}</td>
                <td data-title="Acciones">
                    <div class="btn-group">
                        <button class="btn"  (click)="actualizarRoles(rol._id,rol)" ><i class="fa-solid fa-square-pen fa-xl"></i></button>
                        
                    </div>

                </td>
            </tr>

        

    

        </tbody>

    </table>
</div>
 

<app-actualizar-rol *ngIf="mostrarFormularioEmergente" 
[idRol]="idrolActualizar" 
[rol]="rolparaActualizar"
(ocultar)="mostrarFormularioEmergente = $event"
(rolActualizado)="actualizandoArregloRoles($event)"
> </app-actualizar-rol>