<ng-container *ngIf="existeError" >
  <div class="mensajes-container"  >
    
      <!-- <app-errores-backend [mensaje]="error.msg" *ngFor="let error of errores;let i = index" 
      [style.top] ="arregloPosicionesCSS[i]" style="position: absolute;"  ></app-errores-backend> -->
    <app-errores-frontend [mensaje]="error.msg" *ngFor="let error of errores" ></app-errores-frontend>
  </div>
  

</ng-container>


<div class="container">
    <div class="title">Formulario de Registro de Usuarios</div>
    <form action="#" [formGroup]="form" (ngSubmit)="submit()" > 
        <div class="user-details">

              <div class="group">      
                <!-- <input type="text" formControlName="nombre" > -->
                <input type="text"  >
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Nombre</label>
              </div>

              <div class="group">      
                <!-- <input type="text" formControlName="rfc" > -->
                <input type="text"  >
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>RFC</label>
              </div>

              <div class="group">      
                <!-- <input type="text" formControlName="direccion" > -->
                <input type="text" >
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Direccion</label>
              </div>

              <div class="group">      
                <!-- <input type="tel" formControlName="telefono"> -->
                <input type="tel" >
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Telefono</label>
              </div>

              <div class="group">      
                <!-- <input type="email" formControlName="email"> -->
                <input type="email" >
                <span class="highlight"></span>
                <span class="bar"></span>
                <label>Email</label>
              </div>
            
        </div>
        <div class="wrapper">
            <button href="#0" class="btn10">
                <span>Send</span>
                <div class="transition"></div>
            </button>
        </div>
       <!--
        <div class="button">
            <input type="submit" value="registro">
        </div>-->
    </form>
</div>


