<div class="spinner-container">
    <app-spinner *ngIf="showSpinner"></app-spinner>

</div>
<app-exito [mensaje]="msg" *ngIf="existeMsgQRExito"></app-exito>

<ng-container>
    <div class="search-and-add-container">
        <app-buscador (busqueda)="search($event)"></app-buscador>

        <i class="fa-solid fa-plus add-button " (click)="addModal()" [ngClass]="{'rotate':showAddModal}"></i>

    </div>


    <h3>{{this.translateHelper.instantTranslation('TruckRegisterList')}}</h3>
    <table class="resp" [ngClass]="{'disabled-table':waitForAnswer}">
        <thead>
            <tr>
                <th>{{this.translateHelper.instantTranslation('TruckRegisterModel')}}</th>
                <th>{{this.translateHelper.instantTranslation('TruckRegisterYear')}}</th>
                <th>{{this.translateHelper.instantTranslation('TruckRegisterVin')}}</th>
                <th>{{this.translateHelper.instantTranslation('TruckRegisterBrand')}}</th>
                <th>{{this.translateHelper.instantTranslation('TruckRegisterTract')}}</th>
                <th>{{this.translateHelper.instantTranslation('TruckRegisterActions')}}</th>
            </tr>
        </thead>
        <tbody>
            <div class="spinner-container">
                <app-spinner *ngIf="showSpinner"></app-spinner>

            </div>

            <ng-container *ngIf="!showSpinner">
                <tr *ngFor="let truck of trucks">

                    <!-- <app-no-encontrado *ngIf="usuario.error" [mensaje]="usuario.msg"></app-no-encontrado> -->


                    <td data-title="Modelo">{{truck.model| uppercase}}</td>
                    <!-- <td data-title="Fecha de visita">{{parseDate(usuario.visit_date) }}</td> -->
                    <td data-title="Año">{{truck.year| uppercase}}</td>
                    <td class="right" data-title="Vin">{{truck.vin}}</td>
                    <td data-title="Marca">{{truck.brand}}</td>
                    <td data-title="Tracto">{{truck.tract}}</td>
                    <!-- iconost -->
                    <td class="icons" data-title="Acciones">
                        <div class="btn-group">
                            <button class="btn" (click)="actualizarCamion(truck.uid,truck)"><i
                                    class="fa-solid fa-square-pen fa-xl"></i></button>
                            <label class="btn" for="btn-modal-delete" (click)="referenciaCamionActual(truck)"><i
                                    class="fa-solid fa-user-xmark fa-lg"></i></label>
                            <button class="btn" (click)="enviarQR(truck.uid)"><i class="fa-solid fa-qrcode fa-lg"
                                    [ngClass]="{'disabled-button':waitForAnswer}"></i></button>
                            <i class="fa fa-download fa-lg download" (click)="downloadPDF(truck.uid)"
                                aria-hidden="true"></i>
                        </div>

                    </td>
                </tr>

                <div class="pagination-container">
                    <i class="fa-solid fa-circle-left" (click)="prevPage()" *ngIf="page >1"></i>
                    <div> {{page}} </div>
                    <div> {{instantTranslation('visitorsComponentTableOf')}} </div>
                    <div> {{pages}} </div>
                    <i class="fa-solid fa-circle-right" (click)="nextPage()" *ngIf="page < pages"></i>
                </div>
            </ng-container>




        </tbody>
    </table>

</ng-container>

<app-crear-camion *ngIf="showAddModal" [camiones]="trucks" (updateCamiones)="trucks = $event"
    (ocultar)="showAddModal = $event" (msgExito)="handleSmgExito($event)"></app-crear-camion>


<app-editar-camion *ngIf="showEditModal" [camion]="updateTruck!" [truckId]="updateTruckId"
    (ocultar)="showEditModal = $event" [camiones]="trucks" (updateCamiones)="trucks = $event">




</app-editar-camion>


<app-modal titulo="{{this.translateHelper.instantTranslation('TruckRegisterDeleteModalTitle')}}" *ngIf="camionActual"
    msg="{{this.translateHelper.instantTranslation('TruckRegisterDeleteConfirmation')}}
     {{camionActual.brand}} - {{camionActual.vin}}?" [funcion]="eliminarCamion.bind(this,this.camionActual.uid)"
    modal="btn-modal-delete"></app-modal>



<!-- PDF TEMPLATE -->
<div class="invisible">
    <div id="page">
        <div class="date-container" id="date-container">
            <!-- <p>Fecha: <span> {{actualDate()}}</span> </p> -->
        </div>


        <div class="logo-container">
            <img src="assets/img/logo.png" alt="mexcal logo">
            <img src="assets/img/divelopers.png" alt="divelopers logo">

        </div>

        <h4 class="pdf-title-text">{{instantTranslation('documentDescription') }}
        </h4>

        <div class="grid" id="table">
            <!-- <p class="formatField">nombre del transportista: <span>{{usuarios[0]?.operator_name}}</span> </p>
            <p class="formatField">Compañia: <span>{{usuarios[0]?.company_name}}</span> </p>
            <p class="formatField">Telefono: <span>{{usuarios[0]?.phone}}</span> </p>
            <p class="formatField">Email: <span>{{usuarios[0]?.email}}</span> </p>
            <p class="formatField">Oficina: <span>{{usuarios[0]?.office_name}}</span> </p>
            <p class="formatField">Telefono de oficina: <span>{{usuarios[0]?.office_phone}}</span> </p>
            <p class="formatField">Numero economico: <span>1234567891</span></p>
            <p class="formatField">Placas del camion: <span>ASE1W-1ASD</span> </p> -->

        </div>

        <div class="signature-container" id="signature-container">
            <!-- <div class="signature-placeholder"></div>
            <p class="signature-name">Personal Autorizado MEXCAL </p> -->
        </div>

        <div class="qr-image" id="truck-qr"></div>


    </div>
</div>