<div class="header">
    <a href="#" class="logo"><div class="sidebar-header">
        <div class="profile">
            <img src="assets/img/logo.svg">
        </div>
    </div></a>
    <div class="header-right">
      <a class="active" href="#">K</a>
      <a>Bienvenido! </a>
      <a>keso@mendoza.com</a>
    </div>
  </div>

  <div class="wrapper">
    <!-- Sidebar Holder -->
    <nav id="sidebar" [ngClass]="{'active':expandirMenu}" >
        

        <ul class="list-unstyled components">
            <li class="active">
                <a  data-toggle="collapse" aria-expanded="false"  (click)="mostrarOpcionesUsuario()"  *ngIf="esAdmin || esMaster || esAux "  >
                    <i class="fa-solid fa-users"></i>
                   Usuarios
                </a>
                <ul class="collapse list-unstyled " [ngClass]="{'in':mostrarOpcionesMenuUsuario}" id="userSubmenu">
                    <ng-container *ngIf="esMaster || esAdmin">
                        <li>
                            <a routerLink="{{ruta.ruta}}" *ngFor="let ruta of rutas[0]" >{{ruta.nombre}}</a>

                        </li>
                        
                    </ng-container>
                    
                    <ng-container *ngIf="esAux">
                        <li>
                            <a routerLink="{{ruta.ruta}}" *ngFor="let ruta of rutas" >{{ruta.nombre}}</a>

                        </li>
                    </ng-container>
                </ul>
            </li>
            <li>
                
                <a data-toggle="collapse" aria-expanded="false" (click)="mostrarOpcionesPersonal()" *ngIf="esMaster || esAdmin" >
                    <i class="fa-solid fa-users-gear"></i>
                    Personal
                </a>
                <ul class="collapse list-unstyled" id="personSubmenu" [ngClass]="{'in':mostrarOpcionesMenuPersonal}">

                    <ng-container *ngIf="esMaster || esAdmin">
                        <li>
                            <a routerLink="{{ruta.ruta}}" class="collapse__sublink" *ngFor="let ruta of rutas[1]" >{{ruta.nombre}}</a>

                        </li>
                        
                    </ng-container>

                </ul>
            </li>
            <li>
                
                <a  data-toggle="collapse" aria-expanded="false" (click)="mostrarOpcionesRol()"*ngIf="esMaster"  >
                    <i class="fa-solid fa-user-tag"></i>
                    Rol
                </a>
                <ul class="collapse list-unstyled" id="rolSubmenu"  [ngClass]="{'in':mostrarOpcionesMenuRol}">
                    <ng-container *ngIf="esMaster || esAdmin">
                        <li>
                            <a routerLink="{{ruta.ruta}}" class="collapse__sublink" *ngFor="let ruta of rutas[2]" >{{ruta.nombre}}</a>

                        </li>
                        
                    </ng-container>

                </ul>
            </li>
            <li>
                
                <a  data-toggle="collapse" aria-expanded="false" (click)="mostrarOpcionesQR()"  *ngIf="esAdmin || esMaster || esAux " >
                    <i class="fa-solid fa-qrcode"></i>
                    QR
                </a>
                <ul class="collapse list-unstyled" id="qrSubmenu"  [ngClass]="{'in':mostrarOpcionesMenuQR}">
                    <li><a routerLink="/qr">Escanear QR</a></li>
                </ul>
            </li>
            <li>
                
                <a class="key2" data-toggle="collapse" aria-expanded="false" (click)="mostrarOpcionesContrasena()"  *ngIf="esAdmin || esMaster || esAux " >
                    <i class="fa-solid fa-key"></i>
                    Contraseña
                </a>
                <ul class="collapse list-unstyled" id="keySubmenu" [ngClass]="{'in':mostrarOpcionesMenuContrasena}">
                    <li class="key"><a routerLink="/contrasena" >Cambiar Contraseña</a></li>
                </ul>
            </li>
           
                                 
        </ul>


        <a href="#" class="nav__link" (click)="logout()" >
            <i class="fa-solid fa-right-from-bracket"></i>
            <span class="nav__name">Log Out</span>
        </a>
    </nav>

    <div id="content">
        <div class="navbar-header">
            <button type="button" id="sidebarCollapse" class=" btn-info navbar-btn" (click)="mostrarMenu()">
                <i class="fa-solid fa-bars"></i><span></span>
            </button>
        </div>
    
        <!--contenido rutas aqui  -->
        <main>
            <router-outlet></router-outlet>
        </main>
      </div>

  </div> 





    <!-- <div class="col-md-9 col-sm-12 offset-md-4 offset-sm-1 ">
  
    </div> -->