<div class="spinner-container">
    <app-spinner *ngIf="showSpinner"></app-spinner>

</div>
<app-exito [mensaje]="msgQR" *ngIf="existeMsgQRExito"></app-exito>

<ng-container>
    <app-buscador (busqueda)="search($event)" (ocultar)="ocultarPaginacion = $event"></app-buscador>


    <h3>{{instantTranslation('visitorsComponentTitle')}}</h3>
    <table class="resp" [ngClass]="{'disabled-table':waitForAnswer}">
        <thead>
            <tr>
                <th>{{instantTranslation('visitorsComponentTableName')}}</th>
                <th>{{instantTranslation('visitorsComponentTableVisitDate')}}</th>
                <th>{{instantTranslation('visitorsComponentTableCompany')}}</th>
                <th>{{instantTranslation('visitorsComponentTableEmail')}}</th>
                <th>{{instantTranslation('visitorsComponentTableUserType')}}</th>
                <th>{{instantTranslation('visitorsComponentTableActions')}}</th>
            </tr>
        </thead>
        <tbody>
            <div class="spinner-container">
                <app-spinner *ngIf="showSpinner"></app-spinner>

            </div>

            <ng-container *ngIf="!showSpinner">
                <tr *ngFor="let usuario of usuarios">

                    <!-- <app-no-encontrado *ngIf="usuario.error" [mensaje]="usuario.msg"></app-no-encontrado> -->


                    <td data-title="Nombre">{{usuario.name| uppercase}}</td>
                    <td data-title="Fecha de visita">{{parseDate(usuario.visit_date) }}</td>
                    <td data-title="Compañia">{{usuario.visit_company | uppercase}}</td>
                    <td class="right" data-title="Email">{{usuario.email}}</td>
                    <td data-title="tipo de usuario">{{usuario.visitor_type_id?.name ? (usuario.visitor_type_id?.name|
                        uppercase ): "N/A"}}</td>
                    <!-- iconost -->
                    <td class="icons" data-title="Acciones">
                        <div class="btn-group">
                            <!-- <button class="btn"  (click)="actualizarUsuario(usuario.uid,usuario)" *ngIf="accesoDenegado"  ><i class="fa-solid fa-square-pen fa-xl"></i></button> -->
                            <!-- <label class="btn" for="btn-modal-delete" (click)="referenciaUsuarioActual(usuario)" *ngIf="accesoDenegado" ><i class="fa-solid fa-user-xmark fa-lg"></i></label> -->
                            <button class="btn" (click)="enviarQR(usuario.uid)"><i class="fa-solid fa-qrcode fa-lg"
                                    [ngClass]="{'disabled-button':waitForAnswer}"></i></button>
                        </div>

                    </td>
                </tr>

                <div class="pagination-container">
                    <i class="fa-solid fa-circle-left" (click)="prevPage()" *ngIf="page >1"></i>
                    <div> {{page}} </div>
                    <div> {{instantTranslation('visitorsComponentTableOf')}} </div>
                    <div> {{pages}} </div>
                    <i class="fa-solid fa-circle-right" (click)="nextPage()" *ngIf="page < pages"></i>
                </div>
            </ng-container>

            <!-- <div class="pagination-container" *ngIf="ocultarPaginacion"> -->


        </tbody>
    </table>

</ng-container>