<ng-container *ngIf="existeError">
  <div class="mensajes-container">

    <app-errores-backend [mensaje]="error.msg" *ngFor="let error of errores"></app-errores-backend>
    <app-errores-backend [mensaje]="errorServidor" *ngIf="errorServidor.length > 0"></app-errores-backend>
  </div>


</ng-container>
<app-exito [mensaje]="msgExito" *ngIf="existeMsgExito"></app-exito>

<app-translate></app-translate>


<div class="flex" *ngIf="!showRegisterForm  &&  visitorTypes.length >0">
  <h1>{{"pickUserType" | translate }}</h1>
  <ng-container *ngFor="let type of visitorTypes">
    <div [ngClass]="getClass(type.name)" (click)="openRegisterModal(type)">
      {{translateHelper.getUserTypes(type.name) }}
    </div>

  </ng-container>




</div>


<div class="activity-grid" *ngIf="showRegisterForm && !showDriverRegulation">
  <div class="container">
    <i class="fa-solid fa-circle-left fa-2xl back-button" (click)="backButton()"></i>

    <div class="title">
      <h4 class="text-center uppercase">
        {{"userRegisterType" | translate:{'type':translateHelper.getUserTypes(registerFormName)} }}
      </h4>
    </div>
    <p class="uppercase">{{'accessCodeForUserType'| translate:{'type':translateHelper.getUserTypes(registerFormName)} }}
    </p>

    <hr>
    <p>{{'formDescription' |translate}}</p>
    <hr>
    <p class="required">{{'formInstructions' | translate}} </p>
    <form [formGroup]="form" (ngSubmit)="submit()" [ngClass]="{'disabled-form':disabledForm}">
      <div class="user-details" *ngIf="!showDriversRegisterFormFields">

        <div class="group">
          <input type="email" formControlName="email" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formEmailField'|translate}}</label>
          <app-errores-frontend *ngIf="campoValido('email')"
            mensaje="{{'formEmailValidationField'|translate}}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formFullNameField' |translate}}</label>
          <app-errores-frontend *ngIf="campoValido('name')"
            mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="visit_company" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formVisitCompanyField'| translate}}</label>
          <app-errores-frontend *ngIf="campoValido('visit_company')"
            mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="datetime-local" formControlName="visit_date" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formDateTimeField' |translate}}</label>
          <app-errores-frontend *ngIf="campoValido('visit_date')"
            mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="contact_name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formContactNameField'|translate}}</label>
          <app-errores-frontend *ngIf="campoValido('contact_name')"
            mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
        </div>
        <div class="group">
          <input type="text" style="visibility: hidden;">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formDepartmentField'|translate}}</label>
          <select name="" id="" class="controls select-absolute" formControlName="department_id">
            <option value="" disabled selected>{{'formDeparmentPlaceholderField'|translate}}</option>
            <option value="{{department.uid}}" *ngFor="let department of departments">{{department.name}}</option>
          </select>

          <app-errores-frontend *ngIf="campoValido('department_id')"
            mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
        </div>



        <div class="group">
          <input type="text" style="visibility: hidden;">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formEnterDeviceField'|translate}}</label>
          <select name="" id="" class="controls select-absolute" formControlName="enter_device">
            <option value="" disabled selected>{{'formEnterDevicePlaceholderField'|translate}}</option>
            <option value="{{device.name}}" *ngFor="let device of devices">{{device.name}}</option>
          </select>

          <app-errores-frontend *ngIf="campoValido('enter_device')"
            mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
        </div>
        <ng-container *ngIf="showProvidersRegisterFormFields">
          <div class="group">
            <input type="text" style="visibility: hidden;">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>{{'formReasonField'|translate}}</label>
            <select name="" id="" class="controls select-absolute" formControlName="reason_id">
              <option value="" disabled selected>{{'formReasonPlaceholderField'|translate}}</option>
              <option value="{{reason.uid}}" *ngFor="let reason of reasons">{{reason.name}}</option>
            </select>

            <app-errores-frontend *ngIf="campoValido('reason_id')"
              mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
          </div>

          <div class="group">
            <input type="text" style="visibility: hidden;">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>{{'formHasVehicleField' |translate}}</label>
            <select name="" id="" class="controls select-absolute" formControlName="hasVehicle">
              <option value="" disabled selected>{{'formHasVehiclePlaceholderField'|translate}}</option>
              <option [value]="true"> {{'formHasVehicleFirstOption'|translate}} </option>
              <option [value]="false"> {{'formHasVehicleSecondOption'|translate}} </option>

            </select>

            <app-errores-frontend *ngIf="campoValido('hasVehicle')"
              mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
          </div>
        </ng-container>




      </div>

      <div class="user-details" *ngIf="showDriversRegisterFormFields">
        <div class="group">
          <input type="email" formControlName="email" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formEmailField'|translate}}</label>
          <app-errores-frontend *ngIf="campoValido('email')"
            mensaje="{{'formEmailValidationField'|translate}}"></app-errores-frontend>
        </div>


        <div class="group">
          <input type="text" formControlName="company_name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formCompanyNameField'|translate}}</label>
          <app-errores-frontend *ngIf="campoValido('company_name')"
            mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="operator_name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formOperatorNameField'|translate}}</label>
          <app-errores-frontend *ngIf="campoValido('operator_name')"
            mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="phone" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formPhoneField'|translate}}</label>
          <app-errores-frontend *ngIf="campoValido('phone')"
            mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="office_name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formOfficeNameField'|translate}}</label>
          <app-errores-frontend *ngIf="campoValido('office_name')"
            mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="office_phone" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{'formOfficePhoneField'|translate}}</label>
          <app-errores-frontend *ngIf="campoValido('office_phone')"
            mensaje="{{'fieldRequired' |translate}}"></app-errores-frontend>
        </div>


      </div>

      <div class="wrapper">
        <button href="#0" class="btn10" [ngClass]="{'disabled-button':disabledForm}" [disabled]="disabledForm"
          (click)="displayDriverForm()">
          <span>{{'formRegisterButton'|translate}}</span>
          <div class="transition"></div>
        </button>
      </div>

    </form>
  </div>
</div>

<ng-container *ngIf="showDriverRegulation">
  <i class="fa-solid fa-circle-left fa-2xl back-button" (click)="backButton()"></i>
  <app-driver-regulations></app-driver-regulations>
  <div class="flex-child">
    <input type="checkbox" class="checkbox" (click)="verifyCheck($event)"><span>{{'formTerms'|translate}}</span>

    <button class="btn10" [ngClass]="{'disabled-button':disabledAcceptButton}" [disabled]="disabledAcceptButton"
      (click)="displayDriverForm()">
      <span>{{'formRegisterButton'|translate}}</span>
      <div class="transition"></div>
    </button>
  </div>

</ng-container>