<ng-container *ngIf="existeError">
  <div class="mensajes-container">

    <app-errores-backend [mensaje]="error.msg" *ngFor="let error of errores"></app-errores-backend>
    <app-errores-backend [mensaje]="errorServidor" *ngIf="errorServidor.length > 0"></app-errores-backend>
  </div>


</ng-container>
<app-exito [mensaje]="msgExito" *ngIf="existeMsgExito"></app-exito>

<app-translate></app-translate>


<div class="flex" *ngIf="!showRegisterForm  &&  visitorTypes.length >0">
  <h1>{{"pickUserType" | translate }}</h1>
  <ng-container *ngFor="let type of visitorTypes">
    <div [ngClass]="getClass(type.name)" (click)="openRegisterModal(type)">
      {{type.name}}
    </div>

  </ng-container>




</div>


<div class="activity-grid" *ngIf="showRegisterForm && !showDriverRegulation">
  <div class="container">
    <i class="fa-solid fa-circle-left fa-2xl back-button" (click)="backButton()"></i>

    <div class="title">
      <h4 class="text-center">
        REGISTRO DE {{registerFormName}} MEXCAL
      </h4>
    </div>
    <p>GENERAR UN CODIGO DE ACCESO PARA {{registerFormName}} A GRUPO MEXCAL</p>
    <hr>
    <p>Se registrarán el nombre, la foto y el correo electrónico asociados con tu Cuenta de Google cuando subas archivos
      y envíes este formulario</p>
    <hr>
    <p class="required"> * Indica que la pregunta es obligatoria</p>
    <form [formGroup]="form" (ngSubmit)="submit()" [ngClass]="{'disabled-form':disabledForm}">
      <div class="user-details" *ngIf="!showDriversRegisterFormFields">

        <div class="group">
          <input type="email" formControlName="email" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Correo electrónico *</label>
          <app-errores-frontend *ngIf="campoValido('email')"
            mensaje="Tiene que ser un correo valido"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Nombre completo *</label>
          <app-errores-frontend *ngIf="campoValido('name')" mensaje="El campo es requerido"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="visit_company" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Empresa de la que nos visitas</label>
          <app-errores-frontend *ngIf="campoValido('visit_company')" mensaje="Campo requerido"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="datetime-local" formControlName="visit_date" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>FECHA Y HORA DE TU VISITA A MEXCAL *</label>
          <app-errores-frontend *ngIf="campoValido('visit_date')"
            mensaje="El campo es requerido"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="contact_name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>NOMBRE DEL CONTACTO QUE VISITAS *</label>
          <app-errores-frontend *ngIf="campoValido('contact_name')"
            mensaje="El campo es requerido"></app-errores-frontend>
        </div>
        <div class="group">
          <input type="text" style="visibility: hidden;">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>DEPARTAMENTO AL QUE VISITAS *</label>
          <select name="" id="" class="controls select-absolute" formControlName="department_id">
            <option value="" disabled selected>--Seleccione departamento--</option>
            <option value="{{department.uid}}" *ngFor="let department of departments">{{department.name}}</option>
          </select>

          <app-errores-frontend *ngIf="campoValido('department_id')"
            mensaje="El campo es requerido"></app-errores-frontend>
        </div>



        <div class="group">
          <input type="text" style="visibility: hidden;">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>INGRESAS ALGO DE LO MENCIONADO? *</label>
          <select name="" id="" class="controls select-absolute" formControlName="enter_device">
            <option value="" disabled selected>--Seleccione tipo--</option>
            <option value="{{device.name}}" *ngFor="let device of devices">{{device.name}}</option>
          </select>

          <app-errores-frontend *ngIf="campoValido('enter_device')"
            mensaje="El campo es requerido"></app-errores-frontend>
        </div>
        <ng-container *ngIf="showProvidersRegisterFormFields">
          <div class="group">
            <input type="text" style="visibility: hidden;">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>SELECCIONA EL MOTIVO DE TU INGRESO *</label>
            <select name="" id="" class="controls select-absolute" formControlName="reason_id">
              <option value="" disabled selected>--Seleccione motivo--</option>
              <option value="{{reason.uid}}" *ngFor="let reason of reasons">{{reason.name}}</option>
            </select>

            <app-errores-frontend *ngIf="campoValido('reason_id')"
              mensaje="El campo es requerido"></app-errores-frontend>
          </div>

          <div class="group">
            <input type="text" style="visibility: hidden;">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>INGRESARAS VEHICULO *</label>
            <select name="" id="" class="controls select-absolute" formControlName="hasVehicle">
              <option value="" disabled selected>--Seleccione respuesta--</option>
              <option [value]="true"> Si </option>
              <option [value]="false"> No </option>

            </select>

            <app-errores-frontend *ngIf="campoValido('hasVehicle')"
              mensaje="El campo es requerido"></app-errores-frontend>
          </div>
        </ng-container>




      </div>

      <div class="user-details" *ngIf="showDriversRegisterFormFields">
        <div class="group">
          <input type="email" formControlName="email" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Correo electrónico *</label>
          <app-errores-frontend *ngIf="campoValido('email')"
            mensaje="Tiene que ser un correo valido"></app-errores-frontend>
        </div>


        <div class="group">
          <input type="text" formControlName="company_name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>NOMBRE DE SU COMPAÑIA *</label>
          <app-errores-frontend *ngIf="campoValido('company_name')"
            mensaje="El campo es requerido"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="operator_name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>NOMBRE DEL OPERADOR *</label>
          <app-errores-frontend *ngIf="campoValido('operator_name')"
            mensaje="El campo es requerido"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="phone" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>NUMERO TELEFONICO</label>
          <app-errores-frontend *ngIf="campoValido('phone')" mensaje="El campo es requerido"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="office_name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>NOMBRE DE SU DESPACHO</label>
          <app-errores-frontend *ngIf="campoValido('office_name')"
            mensaje="El campo es requerido"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="office_phone" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>TELEFONO DE SU DESPACHO</label>
          <app-errores-frontend *ngIf="campoValido('office_phone')"
            mensaje="El campo es requerido"></app-errores-frontend>
        </div>


      </div>

      <div class="wrapper">
        <button href="#0" class="btn10" [ngClass]="{'disabled-button':disabledForm}" [disabled]="disabledForm"
          (click)="displayDriverForm()">
          <span>REGISTRAR</span>
          <div class="transition"></div>
        </button>
      </div>

    </form>
  </div>
</div>

<ng-container *ngIf="showDriverRegulation">
  <i class="fa-solid fa-circle-left fa-2xl back-button" (click)="backButton()"></i>
  <app-driver-regulations></app-driver-regulations>
  <div class="flex-child">
    <input type="checkbox" class="checkbox" (click)="verifyCheck($event)"><span>He leido y acepto el reglamento de
      transportistas</span>

    <button class="btn10" [ngClass]="{'disabled-button':disabledAcceptButton}" [disabled]="disabledAcceptButton"
      (click)="displayDriverForm()">
      <span>registrarse</span>
      <div class="transition"></div>
    </button>
  </div>

</ng-container>