<ng-container *ngIf="existeError">
  <div class="mensajes-container">

    <app-errores-backend [mensaje]="error.msg" *ngFor="let error of errores"></app-errores-backend>
    <app-errores-backend [mensaje]="errorServidor" *ngIf="errorServidor.length > 0"></app-errores-backend>
  </div>


</ng-container>
<app-exito [mensaje]="msgExito" *ngIf="existeMsgExito"></app-exito>

<ng-container *ngIf="this.router.url =='/registro' ">
  <app-translate></app-translate>

</ng-container>


<div class="flex" *ngIf="!showRegisterForm  &&  visitorTypes.length >0">
  <!-- <h1>{{'pickUserType' | translate }} </h1> -->
  <h1>{{instantTranslation('pickUserType')}}</h1>
  <ng-container *ngFor="let type of visitorTypes">
    <div [ngClass]="getClass(type.name)" (click)="openRegisterModal(type)">
      {{translateHelper.getUserTypes(type.name) }}
    </div>

  </ng-container>




</div>


<div class="activity-grid" *ngIf="showRegisterForm && !showDriverRegulation">
  <div class="container">
    <i class="fa-solid fa-circle-left fa-2xl back-button" (click)="backButton()"></i>

    <div class="title">
      <h4 class="text-center uppercase">
        <!-- {{"userRegisterType" | translate:{'type':translateHelper.getUserTypes(registerFormName)} }} -->
        {{instantTranslation('userRegisterType', {'type':translateHelper.getUserTypes(registerFormName)})}}
      </h4>
    </div>
    <p class="uppercase">
      <!-- {{'accessCodeForUserType'| translate:{'type':translateHelper.getUserTypes(registerFormName)} }} -->
      {{instantTranslation('accessCodeForUserType', {'type':translateHelper.getUserTypes(registerFormName)})}}
    </p>

    <hr>
    <!-- <p>{{'formDescription' }}</p> -->
    <p>{{instantTranslation('formDescription')}}</p>
    <hr>
    <p class="required"> {{instantTranslation('formInstructions')}} </p>
    <form [formGroup]="form" (ngSubmit)="submit()" [ngClass]="{'disabled-form':disabledForm}"
      enctype="multipart/form-data">
      <div class="user-details" *ngIf="!showDriversRegisterFormFields">

        <div class="group">
          <input type="email" formControlName="email" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formEmailField')}}</label>
          <app-errores-frontend *ngIf="campoValido('email')"
            mensaje="{{instantTranslation('formEmailValidationField')}}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formFullNameField') }}</label>
          <app-errores-frontend *ngIf="campoValido('name')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="visit_company" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formVisitCompanyField')}}</label>
          <app-errores-frontend *ngIf="campoValido('visit_company')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="datetime-local" formControlName="visit_date" (keyup)="removerAlertas()" min="{{fechaMinima}}">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formDateTimeField') }}</label>
          <app-errores-frontend *ngIf="campoValido('visit_date')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="contact_name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formContactNameField')}}</label>
          <app-errores-frontend *ngIf="campoValido('contact_name')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>
        <div class="group">
          <input type="text" style="visibility: hidden;">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formDepartmentField')}}</label>
          <select name="" id="" class="controls select-absolute" formControlName="department_id">
            <option value="" disabled selected>{{instantTranslation('formDeparmentPlaceholderField')}}</option>
            <option value="{{department.uid}}" *ngFor="let department of departments">{{department.name}}</option>
          </select>

          <app-errores-frontend *ngIf="campoValido('department_id')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>



        <div class="group">
          <input type="text" style="visibility: hidden;">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formEnterDeviceField')}}</label>
          <select name="" id="" class="controls select-absolute" formControlName="enter_device">
            <option value="" disabled selected>{{instantTranslation('formEnterDevicePlaceholderField')}}</option>
            <option value="{{device.name}}" *ngFor="let device of devices">{{device.name}}</option>
          </select>

          <app-errores-frontend *ngIf="campoValido('enter_device')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>
        <ng-container *ngIf="showProvidersRegisterFormFields">
          <div class="group">
            <input type="text" style="visibility: hidden;">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>{{instantTranslation('formReasonField')}}</label>
            <select name="" id="" class="controls select-absolute" formControlName="reason_id">
              <option value="" disabled selected>{{instantTranslation('formReasonPlaceholderField')}}</option>
              <option value="{{reason.uid}}" *ngFor="let reason of reasons">{{reason.name}}</option>
            </select>

            <app-errores-frontend *ngIf="campoValido('reason_id')"
              mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
          </div>

          <div class="group">
            <input type="text" style="visibility: hidden;">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>{{instantTranslation('formHasVehicleField')}}</label>
            <select name="" id="" class="controls select-absolute" formControlName="hasVehicle">
              <option value="" disabled selected>{{instantTranslation('formHasVehiclePlaceholderField')}}</option>
              <option [value]="true"> {{instantTranslation('formHasVehicleFirstOption')}} </option>
              <option [value]="false"> {{instantTranslation('formHasVehicleSecondOption')}} </option>

            </select>

            <app-errores-frontend *ngIf="campoValido('hasVehicle')"
              mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
          </div>
        </ng-container>

        <!-- IMAGENES -->
        <div class="group">
          <input type="text" style="visibility: hidden;">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formIneField') }}</label>
          <input type="file" formControlName="ine_field" (change)="onFileChange($event)">



          <app-errores-frontend *ngIf="campoValido('ine_field')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>


      </div>

      <div class="user-details" *ngIf="showDriversRegisterFormFields">
        <div class="group">
          <input type="email" formControlName="email" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formEmailField')}}</label>
          <app-errores-frontend *ngIf="campoValido('email')"
            mensaje="{{instantTranslation('formEmailValidationField')}}"></app-errores-frontend>
        </div>


        <div class="group">
          <input type="text" formControlName="company_name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formCompanyNameField')}}</label>
          <app-errores-frontend *ngIf="campoValido('company_name')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="operator_name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formOperatorNameField')}}</label>
          <app-errores-frontend *ngIf="campoValido('operator_name')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="phone" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formPhoneField')}}</label>
          <app-errores-frontend *ngIf="campoValido('phone')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="office_name" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formOfficeNameField')}}</label>
          <app-errores-frontend *ngIf="campoValido('office_name')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>

        <div class="group">
          <input type="text" formControlName="office_phone" (keyup)="removerAlertas()">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formOfficePhoneField')}}</label>
          <app-errores-frontend *ngIf="campoValido('office_phone')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>

        <!-- IMAGENES -->
        <div class="group">
          <input type="text" style="visibility: hidden;">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formIneField') }}</label>
          <input type="file" formControlName="ine_field" (change)="onFileChange($event)">

          <app-errores-frontend *ngIf="campoValido('ine_field')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>

        <!-- IMAGENES -->
        <div class="group">
          <input type="text" style="visibility: hidden;">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>{{instantTranslation('formDriverLicenseField')}}</label>
          <input type="file" formControlName="driver_licence_field" (change)="onFileChangeLicence($event)">



          <app-errores-frontend *ngIf="campoValido('driver_licence_field')"
            mensaje="{{instantTranslation('fieldRequired') }}"></app-errores-frontend>
        </div>




      </div>

      <div class="wrapper">
        <button href="#0" class="btn10" [ngClass]="{'disabled-button':disabledForm}" [disabled]="disabledForm">
          <span>{{instantTranslation('formRegisterButton')}}</span>
          <div class="transition"></div>
        </button>
      </div>

    </form>
  </div>
</div>

<ng-container *ngIf="showDriverRegulation">
  <i class="fa-solid fa-circle-left fa-2xl back-button" (click)="backButton()"></i>
  <app-driver-regulations></app-driver-regulations>
  <div class="flex-child">
    <input type="checkbox" class="checkbox"
      (click)="verifyCheck($event)"><span>{{instantTranslation('formTerms')}}</span>

    <button class="btn10" [ngClass]="{'disabled-button':disabledAcceptButton}" [disabled]="disabledAcceptButton"
      (click)="displayDriverForm()">
      <span>{{instantTranslation('formRegisterButton')}}</span>
      <div class="transition"></div>
    </button>
  </div>

</ng-container>