.alerta {
  display: block;
  max-width: 350px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #ffffff;
  /* background: #e24a4a; */
  background: var(--secondary-color);
  border-radius: 5px;

  text-align: center;
  margin: 20px auto;
  padding: 2px;
}
