<ng-container *ngIf="existeError">
    <div class="mensajes-container">

        <app-errores-backend [mensaje]="error.msg" *ngFor="let error of errores"></app-errores-backend>
    </div>


</ng-container>

<app-exito [mensaje]="msgExito" *ngIf="existeMsgExito"></app-exito>


<div id="myModaledit" class="modaledit">

    <!-- Modal content -->
    <div class="modal-content-edit">
        <span class="closeedit" (click)="ocultarFormulario()">&times;</span>
        <h1 class="modal-title">{{instantTranslation('TruckAssignationModalTitle')}}</h1>
        <div class="spinner-container" *ngIf="drivers.length === 0">
            <app-spinner></app-spinner>

        </div>
        <div class="search-container" *ngIf="drivers.length !== 0">
            <app-buscador (busqueda)="search($event)"></app-buscador>

        </div>

        <div class="grid">
            <ng-container *ngFor="let driver of drivers">
                <div class="driver-container" [ngClass]="{'active':isAssignedTruck(driver.uid)}" id="{{driver.uid}}">
                    <input type="checkbox" class="check" (click)="toggleDriver(driver.uid)"
                        [defaultChecked]="isAssignedTruck(driver.uid)">
                    <i class="fa fa-user-circle-o user-icon" aria-hidden="true"></i>


                    <div>
                        <p>{{instantTranslation('TruckAssignationModalName')}}: <br> <span
                                class="card-driver-body">{{driver.name}} </span> </p>
                        <p>{{instantTranslation('TruckAssignationModalLicense')}}: <br><span
                                class="card-driver-body">{{driver.license_number ? driver.license_number :
                                "N/A"}} </span> </p>
                        <p>{{instantTranslation('TruckAssignationModalPlates')}}: <br> <span
                                class="card-driver-body">{{driver.license_plates ? driver.license_plates :
                                "N/A" }} </span> </p>

                    </div>

                </div>
            </ng-container>



        </div>

        <div class="pagination-container" *ngIf="drivers.length !== 0">
            <i class="fa-solid fa-circle-left" (click)="prevPage()" *ngIf="page >1"></i>
            <div> {{page}} </div>
            <div> {{instantTranslation('visitorsComponentTableOf')}} </div>
            <div> {{pages}} </div>
            <i class="fa-solid fa-circle-right" (click)="nextPage()" *ngIf="page < pages"></i>
        </div>



        <div class="save-edit">
            <button type="submit" class="btn10" (click)="TrucksAssignation()">
                <span>{{instantTranslation('TruckAssignationModalButton')}}</span>
                <div class="transition"></div>
            </button>
        </div>

    </div>
</div>