<app-exito [mensaje]="msgExito" *ngIf="existeMsgExito"> </app-exito>

<app-errores-backend [mensaje]="msgError" *ngIf="existeError"></app-errores-backend>

<app-translate></app-translate>



<img class="wave" src="assets/img/wave2.png">

<div class="activity-grid">
  <div class="container">
    <!--<section class="email">-->
    <img src="assets/img/logo.png">
    <p>{{instantTranslation('forgotPasswordDescription')}}</p>
    <form [formGroup]="form" (ngSubmit)="submit()" [ngClass]="{'disabled-form':waitForAnswer}">
      <div class="user-details">
        <div class="group">
          <input type="email" formControlName="email">
          <span class="highlight"></span>
          <span class="bar"></span>
          <label>Email</label>
          <app-errores-frontend mensaje="{{instantTranslation('formEmailValidationField')}}"
            *ngIf="campoValido('email')"></app-errores-frontend>

        </div>
        <a routerLink="/login">{{instantTranslation('forgotPasswordReturnLink')}}</a>

        <div class="wrapper">
          <button type="submit" class="btn10" [ngClass]="{'disabled-button':waitForAnswer}">
            <span>{{instantTranslation('forgotPasswordSentButton')}}</span>
            <div class="transition"></div>
          </button>
        </div>
      </div>
    </form>

    <!--</section>-->
  </div>
</div>