/* You can add global styles to this file, and also import other style files */
:root{
    --main-color: #7380ec;
    --color-dark: #00adf1;
    --text-grey: #7a7575;
}

body{ 
    font-family: 'Poppins', sans-serif;
}