<app-exito [mensaje]="msgExito" *ngIf="existemsgExito"></app-exito>

<app-errores-backend [mensaje]="msgError" *ngIf="existeError"></app-errores-backend>

<app-translate></app-translate>

<section class="email">
    <img src="assets/img/logo.png">
    <p class="form-title">{{instantTranslation('resetPassword')}} </p>
    <form [formGroup]="form" (ngSubmit)="submit()" [ngClass]="{'disabled-form':waitForAnswer}" class="form">

        <div class="group">
            <input type="password" formControlName="newpwd">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>{{instantTranslation('resetPasswordNewField')}}</label>
            <app-errores-frontend *ngIf="campoValido('newpwd')"
                mensaje="{{instantTranslation('formPasswordValidationField')}}"></app-errores-frontend>
        </div>
        <div class="group">
            <input type="password" formControlName="again">
            <span class="highlight"></span>
            <span class="bar"></span>
            <label>{{instantTranslation('resetPasswordConfirmField')}} </label>
            <app-errores-frontend *ngIf="campoValido('again')"
                mensaje="{{instantTranslation('passwordChangeComponentPasswordMustMatch')}}"></app-errores-frontend>

        </div>

        <div class="wrapper">
            <button href="#0" class="btn10" [ngClass]="{'disabled-button':waitForAnswer}">
                <span>{{instantTranslation('forgotPasswordSentButton')}}</span>
                <div class="transition"></div>
            </button>
        </div>

    </form>

</section>